body {
  background-color: rgb(24, 23, 23);
  font-family: sans-serif;
  color:white
}
h1 {
  font-weight: normal;
  font-size: 140%;
}

.sectionMain{
  display:flex
}

#luaCodeText{
  background: #131516;
}

pre{
  margin-top: -15px;
  max-width: 30%;
}

#sendBtn{
  background: #2fbb2f;
    font-weight: bold;
    padding: 7px;
    border-radius: 8%;
    border: 1px solid #5ac95a;
    color: white;
    opacity: .9;
}
#sendBtn:hover{
  opacity: 1;
}

.menu{
  background: gray;
  padding: 10px;
  border: 1px solid;
  display:flex;
}

.flex-row
{
  display:flex;
  flex-direction: row;
}

.flex-col
{
  display:flex;
  flex-direction: column;
}

#filesystem{
  margin:10px;
  padding:10px;
}


.divFileSystem li{
  text-decoration: none;
  cursor: pointer;
}
.divFileSystem li:hover{
  border-bottom: 1px solid blue;
  color:blue;
}

.divFileSystem {
  background-color: #252c30;;
}